.switcher-button {
    &:global.MuiIconButton-root {
        padding: 0;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

        & > svg {
            min-width: 50px;
            min-height: 50px;
        }
    }
}

.switcher-list-paper {
    &:global.MuiPaper-root {
        width: 30px;
        height: 30px;
        padding: 0;
        background: none;
        box-shadow: none;
    }
}

.switcher-list {
    &:global.MuiList-root {
        padding: 0;

        & > li {
            padding: 0;
        }
    }
}
